<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463703495790-8d0j52oifchmf8q2979ghvo04l2n7soc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463703495790-8d0j52oifchmf8q2979ghvo04l2n7soc</string>
	<key>API_KEY</key>
	<string>AIzaSyCYa9_52QcLcTB8G1f8ukL3nBLKeE7Ntl8</string>
	<key>GCM_SENDER_ID</key>
	<string>463703495790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muj.mod14asgmt</string>
	<key>PROJECT_ID</key>
	<string>mod14asgmt-97e3e</string>
	<key>STORAGE_BUCKET</key>
	<string>mod14asgmt-97e3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463703495790:ios:5e7a93256fb001c510827f</string>
</dict>
</plist>